@import '../../styles/color.scss';
@import '../../styles//media.scss';

// __wrapper 外包覆

.container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.03);
  padding-top: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  align-items: center;
  justify-content: flex-start;
}

.posts__wrapper {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}

.posts_post {
  width: 100%;
  padding: 3vh 2vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 3vh;
  }

  &:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  & p {
    color: $dtd-main-color;
  }
}
